global
    log         /dev/log local0
    log         /dev/log local1 notice
    maxconn     4096
    user        haproxy
    group       haproxy
    daemon

defaults
    log         global
    mode        tcp            # Layer 4 — pass raw MySQL protocol through
    option      tcplog
    option      dontlognull
    option      tcp-check
    retries     3
    timeout connect 5s
    timeout client  50s
    timeout server  50s

listen stats
    bind        *:8080
    mode        http
    stats       enable
    stats       uri /stats
    stats       refresh 5s
    stats       show-legends
    stats       show-node
    stats       auth admin:haproxy_stats   # change in production

frontend mysql_front
    bind        *:3306
    default_backend galera_nodes

backend galera_nodes
    balance     roundrobin
    option      tcp-check

    tcp-check   connect
    tcp-check   expect .*

    default-server inter 2s fall 3 rise 2 on-marked-down shutdown-sessions

    server-template galera 1-3 app_db:3306 check resolvers docker resolve-prefer ipv4

resolvers docker
    nameserver dns1 127.0.0.11:53
    resolve_retries 3
    timeout resolve 1s
    timeout retry   1s
    hold valid 10s
